<div class="w-64 h-screen bg-slate-900 text-white p-5">

  <h1 class="text-2xl font-bold mb-10">
    Duty System
  </h1>

  <ul class="space-y-5">

    <li class="hover:text-blue-400 cursor-pointer">
      Dashboard
    </li>

    <li class="hover:text-blue-400 cursor-pointer">
      Faculty
    </li>

    <li class="hover:text-blue-400 cursor-pointer">
      Duty Allocation
    </li>

    <li class="hover:text-blue-400 cursor-pointer">
      Reports
    </li>

    <li class="hover:text-blue-400 cursor-pointer">
      Settings
    </li>

  </ul>

</div>